$variable: value;
// Colors
$white: #fff;
$gray-darker: #333;
$gray-dark: #333;
$gray: #999;
$gray-light: #ccc; // footer text
$gray-lighter: #ccc; // icon background (about section)
$blue: #33ccff; // blue button
